MICROSOFT_TENANT_ID=bd35c4e6-e0e4-4abc-9135-798e9c0271ae
MICROSOFT_CLIENT_ID=256080b0-2092-4d95-8098-e6ca0809ce1d
MICROSOFT_CLIENT_SECRET=
MAILBOX_USER=Tony@jtstrategies.net
MONDAY_API_TOKEN=
OPENAI_API_KEY=
LOOKBACK_DAYS=7
